:root {
	--background-dark: #1a1b1f;
	--text-color-light: rgba(255, 255, 255, 0.8);
	--text-color-dim: rgba(255, 255, 255, 0.5);
	--primary-color: #5c7e0f; /* Green */
	--accent-color: #daa520; /* Warm amber */
	--error-color: #e51e53; /* Error color */

	--box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
	--font-family: "Urbanist", sans-serif;
}

h1 {
	text-align: center;
	font-family: var(--font-family);
	margin-top: 20px;
}

#modal-content {
	position: relative;
	top: 50px;
	max-width: 400px;
	width: 100%;
	border-radius: 20px;
	box-shadow: var(--box-shadow);
	padding: 20px;
	background-color: var(--background-dark);

	margin: auto;
}

form.signup {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: calc(100% - 40px);
	margin-top: 20px;
	margin-left: 20px;

	border-radius: 10px;
	padding: 20px;
	background-color: var(--background-dark);
	color: var(--text-color-light);
}

.signup label {
	width: 100%;
	display: flex;
	align-items: center;
	margin-bottom: 10px;
	color: #daa520;
}

.signup input {
	height: 40px;
	border-radius: 4px;
	width: 250px;
	border: 1px solid var(--border-color);
	padding: 0 10px;
	background-color: white; /* Slightly lighter dark shade for input background */
}

input:focus {
	outline: 2px solid var(--accent-color);
}

.sign-in-button {
	background-color: #daa520;
	color: white;
	width: 100%;
	height: 50px;
	border-radius: 6px;
	border-style: none;
	box-shadow: var(--box-shadow);
	margin-top: 20px;
	cursor: pointer;
}

button:disabled,
button[disabled] {
	border: 1px solid #999999;
	background-color: #cccccc;
	color: #666666;
}

.error-messages {
	color: var(--error-color);
	margin-top: 10px;
	padding: 5px;
	width: 100%;
	text-align: center;
}
