:root {
	--background-dark: #1a1b1f;
	--text-color-light: rgba(255, 255, 255, 0.8);
	--text-color-dim: rgba(255, 255, 255, 0.5);
	--border-color: rgba(255, 255, 255, 0.1);
	--box-shadow: 0 50px 100px rgba(0, 0, 0, 0.5);
	--font-family: "Urbanist", sans-serif;
	--primary-color: #5c7e0f; /* Updating primary color to green */
	--accent-color: #daa520; /* Warm amber for complementary accents */
}

*,
*::before,
*::after {
	box-sizing: border-box;
}
button {
	padding: 12px 24px;
	border-radius: 8px;
	border: none;
	font-weight: 600;
	cursor: pointer;
	transition: background-color 0.3s, transform 0.2s;
	display: inline-block;
	color: #fff;
	background-color: #5c7e0f;
	text-decoration: none;
	margin: 5px;
}

body {
	background-color: #8287a0;
	font-family: var(--font-family);
	color: var(--text-color-light);

	align-items: center;
	justify-content: center;
	min-height: 100vh;
	width: 100vw;
	overflow-x: hidden;
}

.landing-page {
	text-align: center;
	background-color: #8287a0;
	color: var(--text-color-light); /* Light text for contrast */
	padding: 20px;
	width: 100%;
	box-sizing: border-box;
}

/* LandingPage.css */
.carousel-container {
	position: relative;
	margin: 20px auto;
	width: 900px;
	height: 500px;
	overflow: hidden;
	border-radius: 8px;
}

.carousel-pic {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 8px; /* Optional for rounded corners */
}

.carousel-item.active {
	opacity: 1;
	visibility: visible;
}

.carousel-button-next {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	border: none;
	padding: 10px 20px;
	cursor: pointer;
	z-index: 10;
	right: 30px;
}
.carousel-button-prev {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	border: none;
	padding: 10px 20px;
	cursor: pointer;
	z-index: 10;
	left: 30px;
}

a .game-name {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 10px 0;
	text-decoration: none;

	color: #d1d1d2;
	font-size: 30px;
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
a:active {
	text-decoration: none;
}

NavLink,
.game-card a {
	color: var(--accent-color); /* Warm amber for links */
	text-decoration: none;
}

.game-card a:hover {
	color: darken(var(--accent-color), 10%); /* Manually adjust darker shade */
}

.game-card {
	margin: 10px;
	padding: 20px;
	border-radius: 5px;
	box-shadow: var(--box-shadow);
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--background-dark);
	border: 1px solid #ddd;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	width: calc(25% - 20px);
}

.game-card img {
	max-width: 100%;
	height: 200px;

	border-radius: 3px;
}

.name-and-pic {
	display: flex;
	flex-direction: column;
}
.game-cards-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 100%;
}

.game-pic {
	max-height: 300px;
	width: 300px;
	box-sizing: content-box;
	border-radius: 5px;
}
