.profile-elements {
	position: relative;
}

ul.profile-dropdown li {
	padding: 8px 12px;
	cursor: pointer;
	transition: background-color 0.2s;
}

ul.profile-dropdown {
	display: flex;
	flex-direction: column;
	position: absolute;
	background-color: gray;
	margin: 0 -60px;
}

ul.profile-dropdown.hidden {
	visibility: hidden;
}
