.login-form {
	display: flex;
	flex-direction: column;
	gap: 10px;
	background-color: var(--background-dark); /* Dark theme background */
	padding: 20px;
	border-radius: 8px;
	/* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); Adjusted for better visibility */
	width: 100%;
	max-width: 400px;
	margin: auto;
	color: var(--text-color-light); /* Text color for dark theme */
}

.login-form input {
	padding: 12px;
	border: 1px solid var(--border-color); /* Adjusted border color */
	/* Slightly lighter dark shade for input */
	width: 100%;
	border-radius: 4px;
	font-size: 16px;
	/* padding-left: 0px; Aligns text and placeholder to start */
}

.login-form input.creden,
.login-form input.pass {
	margin-bottom: 10px;
}

.login-form button {
	padding: 10px 15px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 16px;
	transition: background-color 0.2s;
	color: white; /* Ensuring text is white for visibility */
}

.login-form button.submit {
	background-color: var(--primary-color); /* Primary color for submit */
}

.login-form button.submit:hover {
	background-color: darken(
		var(--primary-color),
		10%
	); /* Darker shade for hover */
}

.login-form button.demo-user {
	background-color: var(--accent-color); /* Accent color for demo user */
}

.login-form button.demo-user:hover {
	background-color: darken(
		var(--accent-color),
		10%
	); /* Darker shade for hover */
}

/* Error message styles adjusted for dark theme */
.login-form p {
	color: var(--error-color); /* Error text color */
	background-color: #412528; /* Darker shade for error background */
	border: 1px solid #5c2d2e; /* Adjusted for dark theme */
	padding: 10px;
	border-radius: 4px;
	margin-top: -10px;
	margin-bottom: 10px;
}
